@import "imports/variables";

.MonthCell {
  height: 100px;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: 10px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 0%;
  position: relative;
  transition: background .2s ease;

  &--notSelected {
    &:hover {
      background: color($color-primary a(.05))
    }

    &:active {
      background: color($color-primary a(.1))
    }
  }

  @media (--mobile) {
    height: 50px;
  }

  &:last-child {
    border-right: none;
  }

  &--last {
    border-bottom: none;
  }

  &--weekend {
    background: $color-background-light;
  }

  &-selectArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &-dayWrap {
    text-align: right;
    margin-bottom: 4px;

    @media (--mobile) {
      text-align: center;
    }
  }

  &-day {
    display: inline-block;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    min-width: 23px;
    text-align: center;
    margin-top: -5px;
    padding: 0 5px;
    border-radius: 50px;

    @media (--mobile) {
      font-size: 10px;
      padding: 0 2px;
    }

    &--today {
      background: $color-secondary;
      color: $color-white;
    }

    &--otherMonth {
      opacity: .4;
    }

    &--weekend {
      opacity: .4;
    }
  }

  &-content {
    flex: 1 1 0%;
    overflow: hidden;
    font-size: 10px;
  }

  &-entry {
    display: flex;
    padding: 3px 7px;
    border-radius: $border-radius;
    background: $color-secondary;
    width: 100%;
    margin-bottom: 2px;
    border: 1px solid color($color-event lightness(+20%));
    background: color($color-event lightness(+35%));

    &-text {
      flex: 1 1 0%;
      overflow: hidden;
      margin-right: 5px;

      &-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  &-spoiler {
    text-align: center;
  }

  &-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    padding-top: 100%;
    transition: opacity .3s ease, padding-top .3s ease;

    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .2);

    animation-name: --menuAnim;
    animation-duration: .3s;
    animation-iteration-count: 1;

    &.is-open {
      opacity: 1;
      padding: 0;
    }

    &-space {
      flex: 1 1 0%;
      cursor: pointer;
    }
  }

  &-menuItem {
    display: flex;
    padding: 10px 7px;
    background: $color-white;
    font-size: 11px;
    align-items: center;
    border-top: 1px solid $color-border;
    cursor: pointer;
    transition: color .2s ease;

    &-text {
      margin-left: 6px;
    }

    &:hover {
      color: $color-primary;
    }

    &:active {
      background: #EEE;
    }
  }

  &-marker {
    height: 3px;
    background: $color-event;
    border-radius: 5px;
  }
}

@keyframes --menuAnim {
  from {
    opacity: 0;
    padding-top: 100%;
  }
  to {
    opacity: 1;
    padding-top: 0;
  }
}
