@import "imports/variables";

.Tabs {
  display: flex;
  align-items: flex-end;
  height: 43px;

  &-tab {
    height: 39px;
    line-height: 39px;
    border-top: 1px solid $color-border;
    border-right: 1px solid $color-border;
    background: $color-white;
    width: 140px;
    text-align: center;
    cursor: pointer;

    transition: all .2s ease;

    &:hover {
      background: color($color-secondary lightness(+40%));
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-left: 1px solid $color-border;

      &.Tabs-tab--active {
        border-color: $color-secondary;
      }
    }

    &:last-child {
      border-top-right-radius: $border-radius;
    }

    &--active {
      background: $color-secondary;
      color: $color-white;
      border-color: $color-secondary;
      height: 43px;
      line-height: 43px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;

      &:hover {
        background: $color-secondary;
      }
    }
  }
}
