/* Colors */

$color-shadow: rgba(0, 0, 0, .3);
$color-background: #ECF0F1;
$color-background-light: #FAFAFA;
$color-white: #FFFFFF;
$color-border: #E5E5E5;

$color-primary: #E74C3C;
$color-primary-hover: color($color-primary lightness(+10%));
$color-primary-active: color($color-primary lightness(-10%));

$color-secondary: #3498DB;
$color-secondary-hover: color($color-secondary lightness(+10%));
$color-secondary-active: color($color-secondary lightness(-10%));

$color-event: #B97FB9;
$color-event-background: color($color-event a(0.3));

$color-font-default: #444;
$color-font-lighten: #777;

$color-vk: #507299;
$color-instagram: #3897F0;
$color-facebook: #3B5998;

/* Media queries */

@custom-media --tablet (max-width: 1009px);
@custom-media --mobile (max-width: 700px);

/* Sizes */

$border-radius: 4px;
