@import "imports/variables";

@define-mixin padding $size, $name {
  &--padding$(name) { padding: $size }
  &--paddingv$(name) { padding-top: $size; padding-bottom: $size }
  &--paddingh$(name) { padding-left: $size; padding-right: $size }
  &--paddingt$(name) { padding-top: $size }
  &--paddingr$(name) { padding-right: $size }
  &--paddingb$(name) { padding-bottom: $size }
  &--paddingl$(name) { padding-left: $size }
}

@define-mixin border $color, $name {
  &--border$(name) { border: 1px solid $color }
  &--borderv$(name) {
    border: 1px solid $color;
    border-width: 1px 0;
  }
  &--borderv$(name) {
    border: 1px solid $color;
    border-width: 0 1px;
  }
  &--borderb$(name) { border-bottom: 1px solid $color }
  &--borderu$(name) { border-top: 1px solid $color }
  &--borderl$(name) { border-left: 1px solid $color }
  &--borderr$(name) { border-right: 1px solid $color }
}

.View {
  display: flex;

  &--frame {
    background: #F9F9F9;
    border-radius: $border-radius;
  }

  /* Direction */
  &--directionrow { flex-direction: row }
  &--directioncolumn { flex-direction: column }
  @media (--mobile) {
    &--directionmrow { flex-direction: row }
    &--directionmcolumn { flex-direction: column }
  }

  &--aligncenter { align-items: center }
  &--alignstart { align-items: flex-start }
  &--alignend { align-items: flex-end }
  &--justifycenter { justify-content: center }
  &--justifystart { justify-content: flex-start }
  &--justifyend { justify-content: flex-end }

  @media (--mobile) {
    &--alignmstretch { align-items: stretch }
    &--alignmcenter { align-items: center }
    &--alignmstart { align-items: flex-start }
    &--alignmend { align-items: flex-end }
    &--justifymstretch { justify-content: stretch }
    &--justifymcenter { justify-content: center }
    &--justifymstart { justify-content: flex-start }
    &--justifymend { justify-content: flex-end }
  }

  &--grow { flex: 1 0 0% }

  /* Paddings */
  @mixin padding 5px, small;
  @mixin padding 10px, medium;
  @mixin padding 15px, normal;
  @mixin padding 30px, large;
  @media (--mobile) {
    @mixin padding 5px, msmall;
    @mixin padding 10px, mmedium;
    @mixin padding 15px, mnormal;
    @mixin padding 30px, mlarge;
  }

  /* Borders */
  @mixin border $color-border, normal;
  @media (--mobile) {
    @mixin border $color-border, mnormal;
  }

  /* Backgrounds */
  &--backgroundlight { background: $color-background-light }

  &--touchable {
    cursor: pointer;

    &:hover {
      background: color($color-primary lightness(+40%));
    }
  }
}
