@import "imports/variables";

.SidebarItem {
  height: 44px;
  white-space: nowrap;
  border-radius: $border-radius;
  transition: background .2s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $color-font-lighten;
  padding: 0 14px;

  & + & {
    margin-top: 6px;
  }

  &:hover {
    background: color($color-primary a(.2));
  }

  &:active {
    background: color($color-primary a(.4));
  }

  &.is-active {
    color: $color-white;

    &, &:hover, &:active {
      background: $color-primary;
    }
  }

  &-icon {
    font-size: 18px;
    margin-right: 12px;
  }

  &-count {
    margin-left: 8px;
    min-width: 22px;
    height: 22px;
    border-radius: 22px;
    background: #FF2626;
    text-align: center;
    line-height: 22px;
    color: $color-white;
    padding: 0 5px;

    .is-active & {
      background: color($color-white a(.2));
    }
  }
}
