@import "imports/variables.css";

.MainLayout {
  width: 1010px;
  margin: 0 auto;

  @media (--tablet) {
    width: 100%;
  }

  &-content {
    background: $color-white;
    box-shadow: 0 1px 2px 0 $color-shadow;
    margin-bottom: 25px;
  }
}

.Footer {
  text-align: center;
  color: rgba(0, 0, 0, .3);
  font-size: 13px;
  margin-bottom: 20px;

  &-copyright {
    margin-bottom: 10px;
  }

  &-links {
    a {
      margin-right: 10px;
      color: rgba(0, 0, 0, .3);

      &:hover {
        color: rgba(0, 0, 0, .6);
      }

      &:after {
        content: ' ';
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background: #C2C2C2;
        margin-left: 10px;
        vertical-align: middle;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}
