@import "imports/variables";

$padding: 44px;

.ClientRequest {
  padding-top: 20px;

  &-blockHeading {
    padding: 15px $padding;
    background: $color-background-light;
    font-size: 16px;
    display: flex;
    align-items: center;

    &-num {
      color: $color-font-lighten;
      margin-right: 8px;
    }
  }

  &-block {
    padding: 30px $padding;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 40px 0;
  }
}

.ClientRequestHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  &-logo {
    margin-bottom: 20px;
  }

  &-avatar {
    margin-bottom: 20px;
  }

  &-master {
    font-size: 20px;
  }
}

.ClientRequestServicePicker {
  &-radio {
    &+& {
      margin-top: 10px;
    }
  }
}

.ClientRequestForm {
  display: flex;

  &-column {
    flex: 1 1 0%;

    &+& {
      margin-left: 65px;
    }
  }

  @media (--mobile) {
    flex-direction: column;

    .ClientRequestForm-column {
      margin-left: 0px !important;
    }
  }
}
