@import "imports/variables";

.NavbarButton {
  height: 40px;
  min-width: 40px;
  padding: 0 10px;
  margin: 0 -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  cursor: pointer;
  color: $color-primary;
  transition: color .2s ease, opacity .2s ease;

  &:hover {
    color: $color-primary-hover;
  }

  &:active {
    opacity: 0.7;
  }

  i {
    font-size: 20px;
  }

  &--disabled {
    opacity: 0.5;
  }

  &--loading {
    .NavbarButton-text, .Icon {
      opacity: 0.3;
    }
  }

  &-text {
    i + & {
      margin-left: 5px;
    }

    & + i {
      margin-left: 5px;
    }
  }

  &-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
