@import 'imports/variables';

.Select {
  appearance: none;
  border: 1px solid $color-border;
  cursor: pointer;
  height: 40px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: $color-white;

  &-select {
    border: none;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    height: 40px;
    appearance: none;
    outline: none;
    background: transparent;
    color: $color-font-default;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  &-caret {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}
