@import "imports/variables";

.MenuButton {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #777;
  transition: color .2s ease, opacity .2s ease;

  &:hover {
    color: $color-primary;
  }

  &:active {
    opacity: 0.7;
  }

  i {
    margin-top: 2px;
  }

  &-count {
    color: $color-white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 18px;
    height: 18px;
    background: #FF2626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border-radius: 9px;
  }
}
