@import "imports/variables";

.SidebarLayout {
  display: flex;
  align-items: stretch;

  &-content {
    flex: 1 1 0%;
    min-width: 0;
  }

  &-navbar {
    display: flex;
    align-items: center;
    height: 51px;
    border-bottom: 1px solid $color-border;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &-sidebar {
    width: 270px;
    padding: 0 13px;
    background: $color-background-light;
    border-right: 1px solid $color-border;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &-heading {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 83px;
      border-bottom: 1px solid $color-border;
      margin-bottom: 13px;
    }

    &-bars {
      padding: 5px;
      cursor: pointer;
      color: #888;
      transition: color .2s ease;
      margin-top: 4px;
      margin-right: 20px;
      display: none;

      &:hover {
        color: #555;
      }

      &:active {
        color: #222;
      }
    }

    &-content {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      &-children {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0 0 20px 0;

        @media (--tablet) {
          overflow: auto;
        }
      }
    }
  }

  @media (--tablet) {
    display: block;

    &-fade {
      opacity: 0;
      transition: opacity .3s ease;
      z-index: 102;

      &.is-open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: rgba(0, 0, 0, .3);
        z-index: 101;
      }
    }

    &-content {
      margin-top: 50px;
    }

    &-sidebar {
      width: 100%;

      &-heading {
        justify-content: flex-start;
        height: 50px;
      }

      &-bars {
        display: block;
      }

      &-content {
        position: fixed;
        top: 0;
        left: -270px;
        width: 270px;
        background: $color-background-light;
        height: 100%;
        transition: left .3s ease;
        z-index: 101;
        padding: 0 13px;

        &-children {
          overflow: auto;
          flex: 1 1 0%;
        }

        .is-open & {
          left: 0;
          flex: 1 1 0%;
          box-shadow: 0 1px 2px $color-shadow;
        }
      }
    }
  }
}
