@import "normalize.css";
@import "imports/variables.css";

body {
  background: $color-background;
  font-size: 14px;
  color: $color-font-default;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}
