@import 'imports/variables';

@keyframes SpinnerAnim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}

.Spinner {
  width: 30px;
  height: 30px;
  border: 3px solid $color-primary;
  border-right-color: transparent !important;
  border-radius: 15px;

  animation-name: SpinnerAnim;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  &--small {
    width: 16px;
    height: 16px;
    border-radius: 8px;
  }
}
