@import "imports/variables";

.Navbar {
  background: $color-background-light;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;

  &-left {
    padding: 0 10px;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-center {
    flex: 2 1 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-right {
    padding: 0 10px;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
