@import "imports/variables";

.SplitLine {
  border-top: 1px solid $color-border;
  margin: 15px 0;
  position: relative;

  &-text {
    position: absolute;
    width: 50px;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -25px;
    line-height: 10px;
    background: $color-white;
    padding: 0 10px;
    text-align: center;
  }
}
