@import "imports/variables";

.PhotoPicker {
  width: 170px;

  &-circle {
    width: 170px;
    height: 170px;
    border-radius: 170px;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;

    &-text {
      margin-top: 18px;
      width: 120px;
      text-align: center;
    }
  }

  &-image {
    width: 170px;
    height: 170px;
    border-radius: 170px;
    background-color: #EEEEEE;
    background-size: cover;
    overflow: hidden;
    border: 1px solid transparent;
    position: relative;

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-error {
    text-align: center;
    margin-top: 10px;
    color: color(red lightness(+10%));
  }

  &-dropzone {
    width: 170px;

    &--accept {
      .PhotoPicker-circle, .PhotoPicker-image {
        border-color: $color-secondary;
        background-color: color($color-secondary lightness(+30%));
      }
    }

    &--reject {
      .PhotoPicker-circle, .PhotoPicker-image {
        border-color: red;
        background-color: color(red lightness(+30%));
      }
    }
  }

  &-actions {
    margin-top: 10px;
    text-align: center;
  }
}
