@import "imports/variables";

.ClientRequestDateSelector {
  &-date {
    font-size: 20px;
    padding-bottom: 20px;
  }

  &-selector {
    display: flex;
    align-items: center;
  }

  &-grid {
    flex: 1 0 0%;
    margin: 0 20px;

    &-headings {
      display: flex;
      margin-bottom: 7px;
    }

    &-body {
      display: flex;
    }
  }

  &-heading {
    flex: 1 0 0%;
    text-align: center;
  }

  &-cell {
    flex: 1 0 0%;
    border: 1px solid $color-border;
    padding: 10px 5px;
    border-right-width: 0px;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-right-width: 1px;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &-event {
    padding: 6px;
    background-color: $color-event-background;
    border-radius: $border-radius;
    text-align: center;
    cursor: pointer;

    & + & {
      margin-top: 5px;
    }
  }
}
