@import "imports/variables";

.Checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border: 1px solid #797979;
    border-radius: $border-radius;
    margin-right: 10px;
    transition: background .2s ease;
    background: $color-white;
    flex-shrink: 0;
  }

  &:hover {
    .Checkbox-fill {
      background: color($color-primary lightness(+40%));
    }
  }

  &:active {
    .Checkbox-fill {
      background: color($color-primary lightness(+30%));
    }
  }
}
