@import 'imports/variables';

.Services {
  width: 100%;

  th {
    background: #f7f7f7;
    border-bottom: 1px solid $color-border;
    border-right: 1px solid $color-border;
    padding: 28px 17px 10px;
    text-align: left;
    font-weight: normal;

    &:last-child {
      border-right-width: 0;
    }
  }

  td {
    padding: 10px 15px;
    border-bottom: 1px solid $color-border;
    border-right: 1px solid $color-border;

    &:last-child {
      border-right-width: 0;
    }
  }

  tr:nth-child(even) td {
    background: $color-background-light;
  }

  &--showEditor {
    tr:nth-child(even) td {
      background: transparent;
    }

    tr:nth-child(odd) td {
      background: $color-background-light;
    }

    tr:first-child td {
      background: color($color-primary lightness(+40%));
    }
  }

  &-action {
    display: block;

    & + & {
      margin-top: 5px;
    }
  }

  &-price {
    width: 130px;
  }

  &-duration {
    width: 200px;
  }

  &-actions {
    width: 160px;
  }

  &-buttonActions {
    display: flex;
    flex-direction: row;

    .Button {
      flex: 1 1 0%;
      margin-right: 5px;
    }
  }
}
