.Image {
  display: inline-block;

  &--circle {
    border-radius: 1000px;
  }

  &--fit {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }
  }
}
