@import "imports/variables";

.OnboardingLayout {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 40px 0;

  &-logo {
    margin: 0 auto 35px;
  }

  @media (--mobile) {
    min-height: 300px;
    padding: 20px 0;

    &-logo {
      margin-bottom: 25px;
    }
  }
}
