@import "imports/variables";

.Button {
  padding: 10px 16px;
  border-radius: $border-radius;
  background: $color-primary;
  color: $color-white;
  cursor: pointer;
  transition: background .2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    background: $color-primary-active;
  }

  &--thin {
    height: 29px;
  }

  &--loading {
    .Button-icon, .Button-content {
      opacity: 0.3;
    }

    .Button-spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--secondary {
    background: $color-secondary;
    padding: 0 12px;
    border-radius: 100px;
    height: 30px;

    &:hover { background: $color-secondary-hover }
    &:active { background: $color-secondary-active }
  }

  &--outline {
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    fill: $color-primary;

    &:hover { background: color($color-primary a(.2)) }
    &:active { background: color($color-primary a(.4)) }

    &.Button--colorless {
      border-color: #828282;
      color: #545454;
      fill: #545454;

      &:hover { background: color(#828282 a(.2)) }
      &:active { background: color(#828282 a(.4)) }
    }

    &.Button--footer {
      border-color: $color-border;
      rackground: $color-background-light;

      &:hover { background: color($color-primary a(.2)) }
      &:active { background: color($color-primary a(.4)) }
    }
  }

  &--disabled {
    opacity: 0.5;
  }

  &--footer {
    border-width: 1px 0 0 0;
    border-radius: 0;
    height: 50px;
  }

  &--round {
    padding: 0;
    width: 30px;
  }

  &--borderless {
    border-width: 0;
  }

  &--large {
    font-size: 20px;
  }

  &-icon + &-content {
    margin-left: 11px;
  }

  &-content + &-icon {
    margin-left: 11px;
  }

  &--colorvk {
    background: $color-vk;
    &:hover { background: color($color-vk lightness(+10%)) }
    &:active { background: color($color-vk lightness(-10%)) }
  }

  &--colorinstagram {
    background: $color-instagram;
    &:hover { background: color($color-instagram lightness(+10%)) }
    &:active { background: color($color-instagram lightness(-10%)) }
  }

  &--colorfacebook {
    background: $color-facebook;
    &:hover { background: color($color-facebook lightness(+10%)) }
    &:active { background: color($color-facebook lightness(-10%)) }
  }
}
