@import 'imports/variables';

.DayGrid {
  width: 350px;
  display: flex;
  flex-direction: row;
  position: relative;

  @media (--mobile) {
    width: 100%;
  }

  &-axis {
    width: 50px;
    border-right: 1px solid $color-border;
    flex-shrink: 0;

    &-tick {
      text-align: right;
      position: relative;
      z-index: 1;

      &-text {
        position: relative;
        line-height: 20px;
        top: -10px;
        font-size: 12px;
        padding-right: 5px;
        color: $color-font-lighten;
      }

      &:first-child &-text {
        top: 0px;
      }

      &:last-child &-text {
        top: -20px;
      }
    }
  }

  &-events {
    flex: 1 1 0%;
    position: relative;

    &-ticks {
      &-tick {
        border-bottom: 1px solid $color-border;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-event {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 0 5px 1px 5px;
    transition: margin-top .2s ease, box-shadow .2s ease;

    &:hover {
      margin-top: -2px;
      .DayGrid-event-bubble {
        box-shadow: 0 2px 3px $color-event-background;
      }
    }

    &:active {
      margin-top: -1px;
      .DayGrid-event-bubble {
        box-shadow: 0 1px 2px $color-event-background;
      }
    }

    &-bubble {
      flex: 1 1 0%;
      background: $color-event-background;
      border-radius: $border-radius;
      border: 1px solid $color-event;
      display: flex;
      align-items: stretch;
      overflow: hidden;
      transition: margin-top .2s ease, box-shadow .2s ease;
      cursor: pointer;

      &-time {
        width: 50px;
        background: $color-event-background;
        padding: 5px;
        flex-shrink: 0;
        text-align: center;
      }

      &-content {
        flex: 1 1 0%;
        padding: 5px 9px;

        .is-inline & {
          display: flex;
        }

        &-service {
          font-weight: 100;
        }

        .is-inline &-service {
          margin-left: 10px;
        }
      }
    }
  }

  &-breaks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-break {
      position: absolute;
      width: 100%;
      border-left: 49px solid white;
      background: rgba(0, 0, 0, .05);
      z-index: 0;
    }
  }
}
