@import 'imports/variables';

.Input {
  position: relative;

  input,
  textarea {
    width: 100%;
    height: 40px;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    outline: none;
    line-height: 40px;
    padding: 0 10px;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: $color-primary;
    }
  }

  &.is-withIcon {
    input, textarea {
      padding-left: 35px;
    }
  }

  &-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    pointer-events: none;
  }

  textarea {
    min-height: 77px;
  }
}
