<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <script src="https://use.fontawesome.com/02477e238b.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>images/static-images/favicon.ico?v=2" type="image/x-icon" />
    <title>Мой Клиент</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
