@import "imports/variables";

.Radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border: 1px solid #797979;
    border-radius: 19px;
    margin-right: 10px;
    transition: background .2s ease;
    background: $color-white;

    &-check {
      width: 13px;
      height: 13px;
      border-radius: 13px;
      background: $color-primary;
    }
  }

  &:hover {
    .Radio-fill {
      background: color($color-primary lightness(+40%));
    }
  }

  &:active {
    .Radio-fill {
      background: color($color-primary lightness(+30%));
    }
  }
}
