@import "imports/variables";

.Text {
  &--sizesmall { font-size: 12px }
  &--sizenormal { font-size: 14px }
  &--sizemedium { font-size: 18px }
  &--sizelarge { font-size: 24px }

  @media (--mobile) {
    &--sizemsmall { font-size: 12px }
    &--sizemnormal { font-size: 14px }
    &--sizemmedium { font-size: 18px }
    &--sizemlarge { font-size: 24px }
  }

  &--bold {
    font-weight: bold;
  }

  &--light {
    font-weight: 300;
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--colordefault { color: $color-font-default }
  &--colorlighten { color: $color-font-lighten }
  &--colorsecondary { color: $color-secondary }
  @media (--mobile) {
    &--colormdefault { color: $color-font-default }
    &--colormlighten { color: $color-font-lighten }
    &--colormsecondary { color: $color-secondary }
  }

  &--alignleft { text-align: left }
  &--aligncenter { text-align: center }
  &--alignright { text-align: right }
  @media (--mobile) {
    &--alignmleft { text-align: left }
    &--alignmcenter { text-align: center }
    &--alignmright { text-align: right }
  }
}
