@import "imports/variables";

.Switcher {
  display: flex;
  align-items: center;

  &-item {
    width: 125px;
    height: 34px;
    line-height: 34px;
    border: 1px solid $color-secondary;
    text-align: center;
    border-left-width: 0;
    cursor: pointer;
    transition: color .2s ease, background .2s ease;

    @media (--mobile) {
      width: 75px;
      height: 30px;
      line-height: 30px;
      flex: 1 1 0%;
      border-color: $color-primary;
      color: $color-primary;
    }

    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:hover {
      background: color($color-secondary a(.2));

      @media (--mobile) {
        background: color($color-primary a(.2));
      }
    }

    &:active {
      background: color($color-secondary a(.4));

      @media (--mobile) {
        background: color($color-primary a(.4));
      }
    }

    &--active {
      color: $color-white;
      box-shadow: 0 1px 2px $color-shadow;

      &, &:active, &:hover {
        background: $color-secondary;
      }

      @media (--mobile) {
        box-shadow: none;

        &, &:active, &:hover {
          background: $color-primary;
        }
      }
    }
  }
}
